#header {
  background-color:lightcoral;
  color:white;
  text-align:center;
  padding:5px;
  font-size:48px;
}
#menu {
  line-height:20px;
  background-color: lightcoral;
  color: white;
  max-height: 100%;
  width:100px;
  float:left;
  padding:5px;
  font-size: smaller;
}
#content {
  width:350px;
  float:left;
  padding:10px;
}

#courses {
  background-color: gray;
  color: white;
}
#footer {
  background-color:white;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}