<!DOCTYPE html>
<html>
<head>
    <title>Unofficial League Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div id = "header">
    Unofficial League Database
</div>
