<% include partials/headers%>

<div id = "menu">
    <ul>
        <li> <a href="characters/all"> View All Characters </a> </li><br />
        <li>  <a href = "characters/new"> Add New Charater</a> </li> <br />
        <li>  <a href = "/users/all">Get All Users</a> </li><br />
        <li> <a href = "/users/create">Create New User</a></li>
    </ul>
</div>

<div id = "content">
<h1>
    About
</h1>
<br />
    <br />

    <p> The purpose of this website is to provide quick and easy information to players <br />
        about each of the characters.  It will give them the base stats for each of the <br />
        characters along with information about their primary ability and their ultimate <br />
        ability, which is unlocked at level 6.

    </p>

    <br />
    <br />

    <p>  League of Legends was release by <a href = "http://www.riotgames.com/"> Riot Games</a> in 2009.
         The game has grown to become the biggest Free to Play game in the world with over 25 million  people playing it each day.  Riot Games has helped legitimize E-Sports by creating the  <br/>
        <a href="http://www.lolesports.com/en_US/" >League Championship Series </a>.  Which has
        leagues across the world and ends in a World Championship with the winner taking home a
        prize of 1 million dollars and the Summoner's Cup.
    </p>

    <p>
        You can sign up to join the fight on the rift on the <a href="https://signup.na.leagueoflegends.com/en/signup/index?realm_key=na"> League of Legends </a> Website.
    </p>



</div>




<%include partials/footer%>