<% include partials/headers %>

  <div id = "menu">
<ul>
   <li> <a href="characters/all"> View All Characters </a> </li><br />
  <li>  <a href = "characters/new"> Add New Charater</a> </li> <br />
  <li>  <a href = "/users/all">Get All Users</a> </li><br />
  <li> <a href = "/users/create">Create New User</a></li>
  </ul>
  </div>

<div id = content>

  <p> Welcome to League Unofficial Database </p><br />
 <p> <img src = "http://gifanim.com/gifs/tumblr_nabjanDLKK1thnbyno1_250.gif" alt = "dancingvolibear" align="left" style="width: 200px;height: 350px;">
  <img src = "http://gifanim.com/gifs/3N8NzEn.gif" alt="multidancer" align = "center" style="width:350px;height: 200px;" </p><br />
  <a href = "/login/">Login</a> </br>


  </p>
</div>


<% include partials/footer %>